/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    color: #6d6d6d;
}

p {
    font-size: 1.2em;
    margin-bottom: 1.8em;
}

h2,
h3,
a {
    color: #000;
}

h2,
h3 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
    font-size: 2.5em;
    margin: 0;
}

.main-nav {
    margin-top: 0.3125em;
}

.name a,
.main-nav a {
    display: block;
    text-align: center;
    padding: 0.625em 0.9375em;
}

.main-nav a {
    font-size: 1.3em;
    text-transform: uppercase;
}

.main-nav a:hover {
    color: #fff;
}

.main-nav ul {
    list-style-type: none;
    padding-left: 0;
}

.main-nav ul li{
    background-color: #fff;
    margin-top: 0.5em;
}

.main-nav ul li:hover {
    background-color: steelblue;
}

/* ---- Layout Containers ---- */

.main-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.banner {
    padding-top: 1.5em;
    padding-bottom: 1em;
    margin-bottom: 3.75em;
    min-height: 235px;
}

.portfolio {
    margin-bottom: 3.75em;
}

.projects {
    margin-bottom: 50px;
}

.contact {
    border-bottom: 1px solid #cfcfcf;
    padding-top: 3.75em;
    padding-bottom: 3.75em;
}

.main-footer {
    padding: 2em 0;
}

.banner,
.portfolio,
.contact,
.main-footer {
    text-align: center;
}

.main-header,
.portfolio,
.banner,
.contact,
.main-footer {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.main-header,
.banner,
.main-footer,
.contact {
    background-color: #f4f4f4;
}

/* ---- Page Elements ---- */

.profile-image {
    width: 300px;
}

.portfolio-heading {
    text-transform: uppercase;
    padding-bottom: 56.08px;
}

.project-img {
    margin-bottom: 0.9375em;
}

.project-heading {
    margin-bottom: 0;
    padding-bottom: 0.3125em;
}

.project-txt {
    margin-top: 0;
    margin: 0 auto;
}

.contact-heading {
    text-transform: uppercase;
}

.highlighted-bold {
    font-weight: bold;
    color: #2c2c2c;
}

.name-footer {
    float: left;
}

.back-to-top {
    float: right;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-footer {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-footer ul {
    position: relative;
}

.nav-footer li {
    float: right;
    padding-left: 30px;
    text-transform: uppercase;
}

.nav-footer a {
    font-weight: bold;
    color: #000;
}

.name-footer,
.back-to-top {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #000;
}

/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
    body {
        padding-top: 162px;
    }

    .main-header {
        position: fixed;
        text-align: center;
        box-shadow: 0 1px 4px rgba(0,0,0,.4);
        width: 100%;
        top: 0;
        z-index: 1;
    }

    .main-nav ul li {
        display: inline-block;
        background-color: transparent;
    }

    .main-nav ul {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .name a{
        padding-top: 10px;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .container {
        width: 95%;
        margin: 0 auto;
    }

    .profile-image {
        float: right;
        width: 40%;
    }

    .banner-txt {
        float: left;
        width: 60%;
        padding-right: 10px;
    }

    .projects {
        width: 50%;
        float: left;
        padding-right: 10px;
        min-height: 420px;
    }

    .back-to-top {
        display: none;
    }

    .nav-footer {
        display: list-item;
    }
}

@media (min-width: 1024px) {
    body {
        padding-top: 100px;
    }

    .main-nav {
        float: right;
    }

    .name a{
        float: left;
        padding-bottom: 10px;
        padding-left: 0;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .projects {
        width: 31%;
    }

}